body {
    background-image: url(22.jpg);
    background-size: cover;
}

.container {
    width: 400px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(33, 33, 33);
}

.form {
    position: absolute;
    display: grid;
    width: 350px;
    gap: 15px;
    padding: 10px;
    left: 20px;
    color: rgb(59, 58, 58);

}

.form input {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgb(59, 58, 58);
}

.form button {
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: rgb(184, 183, 183);
    color: white;
    font-size: larger;
}

span {
    position: absolute;
    left: 270px;

}

i {
    position: absolute;
    left: 300px;
    top: 200px;

}

a {
    color: black;
    font-weight: bold;
}