.greeting-card {
    width: 280px;
    height: 380px;
    border-radius: 10px;
    color: rgb(107, 132, 165);
    box-shadow: 5px 7px 14px rgb(99, 130, 138);
    margin-left: 40px;
    margin-top: 20px;
    font-family: cursive;
    margin: 10px auto;
    }
    h1{
        color: rgb(71, 88, 110);
        text-align: center;
    }
     img {
        width: 280px;
        height: 200px;
        border-radius: 5px; 
     }
     p {
        font-family:sans-serif;
        text-align: center;
     }